
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}


html,
body {
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1588497859490-85d1c17db96d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  margin: 0 auto;
}

header {
  max-width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  font-family: 'Sora', sans-serif;

}

nav {
  font-family: 'Pacifico', cursive;
  width: 300px;
  font-weight: 600;
  color: hsl(8, 94%, 53%);
  padding: 20px;
  padding-bottom: 12px;
  font-size: 35px;
}

section {
  max-width: 35%;
}

.line {
  width: 100%;
  height: 1.2px;
  border: 0 none;
  background-color: hsl(8, 94%, 53%);
  margin-top: 0px;
  position: absolute;
}


.context {
  background-color: #fff;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
}

button:hover {
    color: hsl(45, 100%, 50%)
}

input {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  vertical-align: baseline;
  font-weight: 400;
  border-radius: 0;
  width: 100px;
  height: 25px;
  border: 1px solid hsl(8, 94%, 53%);
  padding: 0 16px;
  color: #161616;
  outline: none;
  background-color: transparent;
  }

input:focus {
  border: 2px solid hsl(8, 94%, 53%);
  outline: none;
}
 
main {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    background-color: hsl(195, 2%, 96%, 0.2);
    height: 100%;  
    margin: 0;
    top: 0;
    left: 0;

}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
  height: 50%;
  position: fixed;
  opacity: 0;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
	border-radius: 5px;
  justify-content: center;
  align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	text-align: center;
	width: 350px;
  min-height: 300px;
  transition: transform 0.3s ease; 
  gap: 15px;
  text-align: center;
  height: 40%;
  background: #fff;
}

.modal-container.show {
	opacity: 1;
	pointer-events: auto;
}

#open,.addbutton, #close {
    padding: 5px;
    width: 100px;
    max-height: 25px;
  }

.modal-buttons {
  display: flex;
  justify-content: center;
}

span {
  font-size: 13px;
  max-width: 250px;
  font-weight: 800;
}
section {
  display: flex;
  flex-direction: column;
  width: 88%;
}
hr {
  margin-right: auto;
  margin-left: auto;
}

button {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  min-height: 50px;
  width: 200px;
  padding: 0 13px;
  color: hsl(8, 94%, 53%);
  vertical-align: top;
  border: 1px solid transparent;
  background: transparent;
  font-weight: 600;
  line-height: 16px;
  font-size: 13px;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.cardcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

.card {
  width: 250px;
  height: 250px;
  background: blue;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  color: #33435A;
  position: relative;
  pointer-events: none;
  position: absolute;
}

/* .cardTitle {
  height: 33.33%;
  text-transform: capitalize;
  font-size: 18px;
  overflow: hidden;
  text-overflow:ellipsis;
}

.cardAuthor {
  height: 33.33%;
  font-weight: bold;
  font-size: 18px;
  color: #E72F3A;
}

.cardPages {
  height: 33.33%;
  font-weight: bold;
  font-size: 12px;
  margin-left: 15px;
} */